@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
/* css part */
*{
  font-family: 'Questrial', sans-serif;
}
.app-header {
  text-align: center;
  margin-top: 150px;
}
.input {
  width: 150px;
  height: 25px;
}
/* Main Page css part */
.heroBackground {
  display: flex;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("https://s.yimg.com/os/creatr-uploaded-images/2022-03/1d547bf0-9f0d-11ec-bedd-866406112b81");
  background-size: cover;
  justify-content: space-around;
  align-items: center;
}
.heroBackground h1 {
  color: white;
  font-size: 5rem;
  font-family: sans-serif;
}
.supportBackground{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
  url("https://www.apple.com/careers/images/teams/customer/hero-large/default@2x.jpg");
  background-size: cover;
  height: 62vh;
  display: flex;
  justify-content: space-around;
  color:#313132;
  align-items: center;
}
.support-all-bg{
  background-color: whitesmoke;
}
.btn-header{
  background-color: #313132;
  border: none;
  color:rgb(212, 216, 219)
}
.link-part{
  text-decoration:none;
  min-width: 150px;
  color: rgb(212, 216, 219);
  font-size:13px
}
.link-part:hover{
  color:white
}
.support-p{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding:25px;
  margin: 10px;
  line-height: 30px;
}
.article-support{
  padding-left: 40px;
}
.article-center-support{
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-center-support p{
  width:30%;
  line-height: 30px;
}
.footer-flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  font-size:11px;
  height: 40vh;
  background-color: #e9e9e9;
}
.footer-flex p:hover{
  text-decoration: underline;
}
/* Product */
.btn-eachProduct{
  border: none;
  padding: 10px;  
  margin: 5px;
  background-color: #ffff;

}
.btn-addToCard{
  border:none;
  background-color: #ffff;

}
.background-all{
  background-color: whitesmoke;
}

